<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white nav-container transition duration-1000">
    <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
        <div>
            <a href="{% url 'home' %}" class="flex">
                <span class="sr-only">Workflow</span>
                <img class="h-8 w-auto sm:h-10 xs:hidden md:block" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                     alt="">
            </a>
        </div>
    </div>
</div>