{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    Social Membership - Service Portal
{% endblock %}

{% block content %}
    <div class="relative bg-gray-50">
  <main class="lg:relative">
    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
      <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
          <span class="block xl:inline">About Page -</span>
        </h1>
      </div>
    </div>
  </main>
</div>
{% endblock %}